body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F6E3C5;
    color: #4CACBC;
}

header {
    background-color: #6CC4A1; 
    color: #F6E3C5;
    text-align: center;
    padding: 1rem;
}

section {
    margin: 2rem;
}

.project {
    background-color: #6CC4A1;
    color: #F6E3C5;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #4CACBC;
    color: #F6E3C5;
    text-align: center;
    padding: 1rem;
}

/* Add styles for the navigation bar */
nav {
    background-color: #4CACBC; /* Updated background color */
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #F6E3C5;
    font-weight: bold;
}

/* Style the active tab */
nav a:hover,
nav a:focus,
nav a:active {
    color: #F6E3C5;
}

/* Style the content sections */
#content {
    margin: 2rem;
}

/* Add styles for each section/page */
#home,
#projects,
#resume {
    background-color: #F6E3C5;
    color: #4CACBC;
    padding: 1rem;
    margin-bottom: 1rem;
}